/* { id: 0, name: 'osama', budget: 50 },
        { id: 1, name: 'Sara', budget: 10 },
        { id: 2, name: 'Laila', budget: 200 },
        { id: 3, name: 'Fadi', budget: 400 }, */

        a:link {
            text-decoration: none;
          }
.users{
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    justify-items: center;
}
.users div{
    width: 200px;
    height: 200px;
    display: grid;
    align-items: center;
    border-radius: 12px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

